@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Hebrew:wght@300&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Hebrew&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital@1&display=swap');



*{
    margin: 0;
    padding: 0;
}

body{
     background-color: #ffffff33;
     align-items: center;
     justify-content: center;
     display: flex;
     font-size: medium;
}

img{
    border-radius: 15px;
    border: 2px solid black;    
}

.Description-container{
    max-width: 1200px;
    height: 800px;
    margin:40px 20px;
    text-align: justify;
    background-color: rgb(255, 221, 191);
    border-radius: 5px;
}

.Description-container .floating-image{
    max-width: 350px;
    max-height: 300px;
}

.Description-container .floating-image.right{
    float: right;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.Description-container .floating-image.left{
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
}

p{
    margin-right: 40px;
    margin-left: 30px;
    font-family: 'Noto Serif Hebrew', serif;
}

h2{
    margin-left: 30px;
    font-family: 'Teko', sans-serif;
    font-size: xx-large;
}

h3{
    text-align: center;
    font-family: 'Schibsted Grotesk', sans-serif;
}